@model BlueSpiral.Web.Areas.ShopOwner.Models.CategoryViewModel
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">

<div class="tabcontent">
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    <h4>Category</h4>
    <hr class="padding-bottom-1x">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @using (Html.BeginForm("Category", "ControlPanel", FormMethod.Post, new { role = "form" }))
    {
        <div class="col-md-12">
            <div class="form-group">
                <label for="account-fn"> Category Name</label>
                @Html.TextBoxFor(m => m.HandicraftCategory, new { @class = "form-control", @placeholder = "Category Name" })
            </div>
        </div>

        <div class="col-12 padding-bottom-1x">
            <hr class="mt-2 mb-3">
            <div class="text-right">
                <button class="btn btn-primary margin-right-none" type="submit">Submit</button>
            </div>
        </div>
    }
</div>
<div class="tabcontent">
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    <h4>Caregory List</h4>
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    <div class="table-responsive">
        <table class="table table-hover margin-bottom-none table-striped table-bordered" id="example2" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Caregory</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Category != null)
                {
                    foreach (var item in ViewBag.Category)
                    {
                        <tr>
                            <td><a class="text-medium navi-link">1</a></td>
                            <td>@item.HandicraftCategory</td>
                            @*<td><a href="/ShopOwner/ShopOwner/RemoveCategory/@item.HandicraftCategoryId"><span aria-hidden="true">×</span></a></td>*@
                            <td>
                                <a href="/ControlPanel/ControlPanel/RemoveCategory/@item.HandicraftCategoryId"><i class="fa fa-trash action-icon mr-1"></i>  </a>



                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
    <hr>
    <div class="text-right"><a class="btn btn-link-primary margin-bottom-none" href="#"><i class="icon-download"></i>&nbsp;Category List</a></div>
</div>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example2').DataTable(

            {

                "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "iDisplayLength": 5
            }
        );
    });


    function checkAll(bx) {
        var cbs = document.getElementsByTagName('input');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
                cbs[i].checked = bx.checked;
            }
        }
    }
</script>
