
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-12 p-0" style="background: #fff;">
    <div class="col-sm-12 padding-top-2x">
        <div class="">
            <h3 class="text-center mb-4 ht-section-title">Contact Us</h3>
            <p class="team-conto">
                Our team is to answer your questions. Fill out the form and we'll be in touch as soon as possible
            </p>
            <!-- <p class="team-conto">
              and we'll be in touch as soon as possible
            </p> -->
        </div>
    </div>
    <div class="col-sm-12 padding-top-3x padding-bottom-2x conimg mt-5 mb-5">
        <div class="">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 p-5 mb-5 whiteground">
                        <div class="white">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control cont-frm" name="email" placeholder="Your Email">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control cont-frm" name="query" rows="5" placeholder="Write your query"></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="#">
                                        <button class="btn btn-primary" type="button">Send Message</button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 padding-top-3x">
                        <div class="emailcon mt-5 mb-4 ml-3">
                            <a class="navi-link-light" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=support@thebluespiral.com&amp;body=Thank You for choosing us. Please provide your content" target="_blank" style="color: #163967;">
                                <i class="fa fa-envelope"></i>
                                <h4>Email:</h4>
                                <p> support@thebluespiral.com</p>
                            </a>
                        </div>
                        <div class="emailcon ml-3">
                            <a href="tel:+91 8585858585">
                                <i class="fa fa-phone"></i>
                                <h4>Call Us:</h4>
                                <p> +91 8585858585 </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="padding-top-1x mr-5 mb-5 text-right">
        <a class="btn btn-outline-secondary btn-sm mod-btn text-white" href="front.html">
            <i class="icon-arrow-left"></i> Back&nbsp;
        </a>
    </section>
</div>

