
@{
    ViewBag.Title = "dailyoffer";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="">
    <div class="flexslider left">
        <ul class="slides">
            <li>
                <img src="/Content/img/shop/dailyslider1.jpg" class="respo-im">
                <div class="meta">
                    <h1><img src="/Content/img/shop/dailysp.png" class="img-fluid"></h1>
                </div>
            </li>
            <li>
                <img src="/Content/img/shop/dailyslider2.jpg" class="respo-im">
                <div class="meta">
                    <h1><img src="/Content/img/shop/dailyspn.png" class="img-fluid spnimg"></h1>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="padding-top-2x padding-bottom-2x">
    <div class="container mb-1">
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-3">
                <div class="slider-banner-wrapper mb-15">
                    <img src="/Content/img/shop/offer-01.jpg" alt="" class="img-fluid ofimg">
                    <div class="slider-banner-content2">
                        <h3 class="mt-3 mb-2">Little <br>Simple Things </h3>
                        <a class="btn btn-primary btn-sm" href="shop-grid-ls.html"><span>40% Off</span><b style="top: 50px; left: 5px;"></b></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="slider-banner-wrapper mb-15">
                    <img src="/Content/img/shop/offer-02.jpg" alt="" class="img-fluid ofimg">
                    <div class="slider-banner-content2">
                        <h3 class="mt-3 mb-2">Holiday <br>Gift Sales </h3>
                        <a class="btn btn-primary btn-sm" href="shop-grid-ls.html"><span>50% Off</span><b></b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-1x padding-bottom-2x">
    <div class="container">
        <h3 class="text-left mb-5 divider-titl pb-2">Our Best Seller</h3>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <a href="#">
                    <img src="/Content/img/shop/rosewood.jpg" class="img-fluid">
                </a>
                <div class="col-md-9 mx-auto countdown-container p-0 countdown-container">
                    <article id="js-countdown" class="countdown-daily">
                        <section class="number js-days"></section>
                        <section id="js-separator" class="separator">:</section>
                        <section class="number js-hours"></section>
                        <section id="js-separator" class="separator">:</section>
                        <section class="number js-minutes"></section>
                        <section id="js-separator" class="separator">:</section>
                        <section class="number js-seconds"></section>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <a href="#">
                    <img src="/Content/img/shop/shelf.jpg" class="img-fluid">
                </a>
                <div class="col-md-9 mx-auto countdown-container p-0 countdown-container">
                    <article id="js-countdown" class="countdown-daily">
                        <section class="number js-days"></section>
                        <section id="js-separator" class="separator">:</section>
                        <section class="number js-hours"></section>
                        <section id="js-separator" class="separator">:</section>
                        <section class="number js-minutes"></section>
                        <section id="js-separator" class="separator">:</section>
                        <section class="number js-seconds"></section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-1x padding-bottom-2x daisale">
    <img src="/Content/img/shop/daily-sale.jpg" class="img-fluid medsale">
    <a href="#">
        <img src="/Content/img/shop/summersale.png" class="img-fluid summerday">
    </a>
</section>

<section class="padding-top-1x padding-bottom-1x">
    <div class="container">
        <h3 class="text-left mb-5 divider-titl pb-2">Making & Crafting</h3>
    </div>
</section>

<section class="mb-5 craftin-bck">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-lg-6 p-5 text-center new-media">
                <p class="new-collection">New Collection</p>
                <p class="mb-4 off-pert">30% OFF</p>
                <p>
                    <a class="btn btn-primary mod-btn" href="shop-grid-ls.html">
                        <span>shop now</span>
                    </a>
                </p>
            </div>
            <div class="col-lg-6 p-0">
                <img src="/Content/img/shop/making-craft.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="padding-top-1x padding-bottom-1x">
    <div class="container">
        <h3 class="text-left mb-5 divider-titl pb-2">Deal of the Day</h3>
    </div>
</section>

<section class="mb-5 craftin-bck">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-lg-6 p-0 text-center mt-5">
                <img src="/Content/img/shop/transdeal.png" class="img-fluid">
            </div>
            <div class="col-lg-6 p-5 text-justify new-media">
                <p class="new-collection">Deal Of the day</p>
                <p class="lead pr-3">Years of experience brought about by our skilled craftsmen could ensure that every piece produced is a work of art. Our focus is always the best quality possible.</p>
                <p>
                    <div class="countdown-container p-0 countdown-container">
                        <article id="js-countdown" class="countdown-daily">
                            <section class="number js-days"></section>
                            <section id="js-separator" class="separator">:</section>
                            <section class="number js-hours"></section>
                            <section id="js-separator" class="separator">:</section>
                            <section class="number js-minutes"></section>
                            <section id="js-separator" class="separator">:</section>
                            <section class="number js-seconds"></section>
                        </article>
                    </div>
                </p>
                <p>
                    <a class="btn btn-primary mod-btn" href="shop-grid-ls.html">
                        <span>shop now</span>
                    </a>
                </p>

            </div>
        </div>
    </div>
</section>


<section class="padding-top-1x mr-5 mb-5 text-right">
    <a class="btn btn-outline-secondary btn-sm mod-btn text-white" href="front.html">
        <i class="icon-arrow-left"></i> Back&nbsp;
    </a>
</section>

