@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="col-lg-9 col-md-8 col-sm-8 pt-4 pr-4 pl-4 pb-5">

    <div id="dashboard" class="tabcontent">
        <div class="padding-top-2x mt-2 hidden-lg-up"></div>
        <h4>Dashboard</h4>
        <hr class="padding-bottom-1x">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="card" style="background: #111e6c;">
                        <div class="card-body crd-img">
                            <img src="../../Content/img/check.png" width="70" class="pull-right">
                            <h4 class="text-white">No.of Order Place</h4>
                            <h6 class="text-white">Total - 8</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="card" style="background: #111e6c;">
                        <div class="card-body crd-img">
                            <img src="../../Content/img/order.png" width="70" class="pull-right">
                            <h4 class="text-white">Total purchase in the month</h4>
                            <h6 class="text-white">15</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="card p-1" style="background: #f2edf3;">
                        <div class="card-body crd-img">
                            <img src="../../Content/img/decore-right.png" alt="decore" class="deco-rite">
                            <p class="deliver-hit">
                                Monthly Cashback for the purchase e.g. – if purchase is between 30k to 50k – 3% cashback of total value, if above 50k- 5% cashback and so on
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="card p-1" style="background: #f2edf3;">
                        <div class="card-body crd-img">
                            <img src="../../Content/img/decore-right.png" alt="decore" class="deco-rite">
                            <p class="deliver-hit">
                                Cashback will be in wallet + COD refund will be in the wallet
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="card p-1" style="background: #f2edf3;">
                        <div class="card-body crd-img">
                            <img src="../../Content/img/decore-right.png" alt="decore" class="deco-rite">
                            <p class="deliver-hit">
                                Buyer Streak- if continuous purchase of 50k for 3 months ,6, months, 9 months ,10 months – customer will get additional cashback.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="card p-1" style="background: #f2edf3;">
                        <div class="card-body crd-img">
                            <img src="../../Content/img/decore-right.png" alt="decore" class="deco-rite">
                            <p class="deliver-hit">
                                Referral – 1st time offer – if customer refer to someone – both will get if the other person places his/her first order.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="card p-1" style="background: #f2edf3;">
                        <div class="card-body crd-img">
                            <img src="../../Content/img/decore-right.png" alt="decore" class="deco-rite">
                            <p class="deliver-hit">
                                On first order – 10% cash back
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
