
@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<div class="col-lg-9 col-md-8 col-sm-8 pt-4 pr-4 pl-4 pb-5">
    <div id="pay-detail" class="tabcontent" style="display: block;">
        <div class="padding-top-2x mt-2 hidden-lg-up"></div>
        <h4>Payment Detail</h4>
        <hr class="padding-bottom-1x">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="../../Content/img/credit-card.png" class="img-fluid" width="150">
                    <p><b>CREDIT CARD</b></p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../../Content/img/paytm.png" class="img-fluid" width="150">
                    <p><b>PAYTM</b></p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../../Content/img/upi.jpg" class="img-fluid" width="150">
                    <p><b>UPI</b></p>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="text-right">
            <button class="btn btn-primary margin-bottom-none" data-toggle="modal" data-target="#openTicket">Add</button>
        </div>
    </div>

    </div>