
@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<div class="col-lg-9 col-md-8 col-sm-8 pt-4 pr-4 pl-4 pb-5">
    <div id="wallet" class="tabcontent" style="display: block;">
        <div class="padding-top-2x mt-2 hidden-lg-up"></div>
        <h4>Wallet</h4>
        <hr class="padding-bottom-1x">
        <div class="col-sm-12 text-center">
            <img src="../../Content/img/wallet1.png" width="130">
            <p class="pay-ft">A quick and convenient way to pay &amp; refund</p>
        </div>
        <div class="col-sm-12 text-center">
            <h4>Total Available Balance - Rs-748/-</h4>
        </div>
    </div>
    </div>