
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<div class="col-lg-9 col-md-8 col-sm-8 pt-4 pr-4 pl-4 pb-5">
    <div id="dashboard" class="tabcontent">
        <div class="padding-top-2x mt-2 hidden-lg-up"></div>
        <h4>Welcome</h4>
        <hr class="padding-bottom-1x">
        <div class="col-sm-12">
            <div class="row">

                <div class="col-sm-12 mb-4">
                    <div class="card p-1" style="background: #f2edf3;">
                        <div class="card-body crd-img">
                            <img src="../../Content/img/decore-right.png" alt="decore" class="deco-rite">
                            <p class="deliver-hit">
                                Congratulation...!!.. You are sucessfully Register with Blue Spiral.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>